@import "../styleConstants.scss";

.keyboard-key {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  margin: 5px;
  white-space: nowrap;

  &--correct {
    @extend .keyboard-key;
    background-color: $CORRECT;
  }

  &--incorrect {
    @extend .keyboard-key;
    background-color: $INCORRECT;
  }

  &--exists {
    @extend .keyboard-key;
    background-color: $EXISTS;
  }
}
