@import "../../../styleConstants.scss";

.box {
  color: white;
  margin: 5px;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 3px solid white;

  @media(max-width : 450px) {
    height: 55px;
    font-size: 3rem;
   
  }

  &--correct {
    @extend .box;

    background-color: $CORRECT;
  }

  &--incorrect {
    @extend .box;

    background-color: $INCORRECT;
  }

  &--exists {
    @extend .box;

    background-color: $EXISTS;
  }
}