.row {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.row input {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  color: transparent;
  caret-color: transparent;
  background-color: transparent;

  &,
  &:focus {
    outline: none;
    border: none;
  }
}
