.row {
  border: 2px solid blue;
  position: relative;
}

.row input {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid green;
  outline: none;
  caret-color: transparent;
  background-color: transparent;
}

.row input:active {
  outline: none;
  border: none;
}
